<% if logged_in? :site_admin %>
  <div class="row mb-3">
    <div class="col">
        <%= link_to 'Write a New Blog', new_blog_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="row blog-main index">
  <div class="col-md-8">
    <%= render @blogs %>
  </div>

  <div class="col-md-4">
    <%= render 'shared/blog_sidebar' %>
  </div>

</div><!-- /.blog-main -->

<%= paginate @blogs %>
