<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="card">
        <h2 class="card-header">New Blog Post</h2>
        <div class="card-body">
          <%= render 'form', blog: @blog %>
        </div>
      </div>
    </div>
    <%= render 'shared/blog_sidebar' %>
  </div> <!-- .row -->
</div> <!-- .container -->
