<div class="col-sm-6 blog-main">
  <div class="card">
    <h2 class="card-header">New Blog Post</h2>
    <div class="card-body">
      <%= render 'form', blog: @blog %>
    </div>
  </div>
</div>
<div class="col-sm-6 edit-preview">
  <div class="card">
    <h2 class="card-header">Preview</h2>
    <div class="card-body">
      <h1 id="preview-title"><%= @blog.title || '<span style="font-style: italic; color: lightgrey;">Entry Title</span>'.html_safe %></h1>
      <hr>
      <p id="preview-body">
        <%= @blog.body || '<span style="color: lightgrey;">No body created yet</span>'.html_safe %>
      </p>
    </div>
  </div>
</div>
