<main role="main">

  <div class="album text-muted">
    <div class="container portfolio-container">
      <div class="row" <% if logged_in?(:site_admin) %>id="sortable"<% end %>>
        <%= render partial: 'portfolio_item', collection: @portfolio_items %>
      </div>
    </div>
  </div>

</main>
