<div class="col"></div>
<div class="col-4 skill-title" data-skill-id="<%= skill.id %>">
  <%= skill.title %>
</div>
<div class="col-1 skill-percent">
  <%= skill.percent_used %>
</div>
<div class="col"></div>
