<h2 id="editing-skills">Editing Skills</h2>

<div class="container" id="skills-edit-form">
  <% for skill in @skills.order('title') %>
    <div class="row" id="show_skill_<%= skill.id %>">
      <%= render 'show', skill: skill %>
    </div>
    <% if logged_in? :site_admin %>
      <div class="row edit" style="display: none;" id="edit_skill_<%= skill.id %>">
        <div class="col"></div>
        <%= render 'form', skill: skill %>
        <div class="col"></div>
      </div>
    <% end %>
  <% end %>
</div>
