  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Adrian L Flanagan</h3>
      <nav class="nav nav-masthead justify-content-center app-nav">
        <%= nav_helper %>
        <%= login_helper 'nav-link' %>
      </nav>
    </div>
  </header>
