<div class="col-md-8 mb-3">
  <h3 class="pb-2 mb-2 font-italic border-bottom">
    Assorted Musings
  </h3>
  <p class="lead blog-description">My somewhat random writings on a variety of subjects</p>
  <%= link_to 'Topics', topics_path, class: 'btn btn-outline-primary' %>
</div>
