<div class="col-md-8">
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    Assorted Musings
  </h3>
  <p class="lead blog-description">My somewhat random writings on a variety of subjects</p>
</div>
