<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md"><%= render "shared/tech_note" %></div>
      <div class="col-md-4 text-center"><%= copyright_generator %></div>
      <div class="col-md text-right">
        <%= link_to  "View all Portfolio Items", portfolios_path %> |
        <a href="#">Back to Top</a>
      </div>
    </div>
  </div>
</footer>
