<footer class="text-muted">
  <div class="container">
    <p class="tech-note">Note: this web design is based on the concepts developed in the online course <a
        href="https://www.udemy.com/professional-rails-5-development-course/">"Dissecting Ruby on Rails"</a>, by
      Jordan Hudgens. Styles are based on example templates from <a href="https://getbootstrap.com">Bootstrap 4</a>.
    </p>
    <p class="copyright-notice">
      <%= copyright_generator %>
    </p>
  </div>
</footer>
