<aside class="tech-note">
  <div>Based on a design by <a href="https://github.com/jordanhudgens" target="_blank">Jordan Hudgens</a>.</div>
  <div>
    <img style="max-height: 18px;" src="https://rubyonrails.org/images/rails-logo.svg">
    Powered by <a href="https://rubyonrails.org" target="_blank">Rails 5.2</a> and <a href="https://ruby-lang.org" target="_blank">Ruby 2.6.3</a>
  </div>
  <div>
    Styles are based on <a href="https://getbootstrap.com" target="_blank">Bootstrap 4</a>.
  </div>
</aside>
