<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'profile.jpg',
                      width: '100%',
                      alt: 'A Lloyd Flanagan Headshot',
                      class: 'profile-img' %>
      </div>
      <div class='col-md-8'>

        <p>I&rsquo;m a professional full-stack developer residing in Richmond, Virginia. I&rsquo;m
         experienced in the <a href="https://djangoproject.com/">Django</a> content-management
         system. This site, however, is powered by <a href="https://ruby-rails.org">Ruby on Rails</a>,
         as I&rsquo;m learning that system currently through an online course.</p>
      </div>
    </div>
  </div>
</div>
