<h1>Contact Me</h1>
<div id="contact_page">
  <h3>Social Media</h3>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/alloydflanagan">alloydflanagan</a></p>
  <p>Twitter: <a href="https://twitter.com/lloyd_flanagan">@alloydflanagan</a></p>
  <h3>Email</h3>
  <p><a href="mailto:a.lloyd.flanagan@gmail.com?subject=Portfolio Contact">a.lloyd.flanagan@gmail.com</a>
    <p>
      <h3>Business Address</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p class="address">8460 Times Dispatch Blvd<br>
              Mechanicsville, VA 23116</p>
          </div>
          <div class="col-md-5">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3159.3445799660985!2d-77.40273568507803!3d37.64110222761256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b13d5fc55ef1ef%3A0x3c9638a21bc364ed!2s8460+Times+Dispatch+Blvd%2C+Mechanicsville%2C+VA+23116!5e0!3m2!1sen!2sus!4v1561566061956!5m2!1sen!2sus"
              width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
</div>
