@import "bootstrap";
@import "jquery-ui";
@import "gritter";

@import url('https://fonts.googleapis.com/css?family=Cantata+One|Roboto&display=swap');

$primary-font-stack: 'Cantata One', serif;
$secondary-font-stack: 'Roboto', sans-serif;

body {
  font-family: $primary-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font-stack;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

footer .tech-note {
  font-size: 0.75rem;
  border-width: 1px;
  border-color: #595959;
  border-style: solid;
}

/* Custom Syntax */

.portfolio-container {
  padding-top: 30px;
}
